<ion-view title="{{roomName}}">
    <ion-nav-buttons side="right">
        <a class="button" href="#/tab/message"><i class="icon ion-ios-list"></i></a>
    </ion-nav-buttons>
    <ion-content has-header="true" has-subheader="true" has-tabs="true">
        <div class="list card">
            <div class="row">
                <div class="col">
                    <button class="button button-small button-dark" ng-class="selectBox('bulletin')?'':'button-outline'" ng-click="changeBox('bulletin')">
                        <div><i class="icon"></i></div>
                        <div>公告</div>
                    </button>
                </div>
                <div class="col">
                    <button class="button button-small button-dark" ng-class="selectBox('chat')?'':'button-outline'" ng-click="changeBox('chat')">
                        <div><i class="icon "></i></div>
                        <div>聊天</div>
                    </button>
                </div>
                <div class="col">
                    <button class="button button-small button-dark" ng-class="selectBox('mail')?'':'button-outline'" ng-click="changeBox('mail');href('mailto:')">
                        <div><i class="icon "></i></div>
                        <div>郵件</div>
                    </button>
                </div>
                <div class="col">
                    <button class="button button-small button-dark" ng-class="selectBox('invite')?'':'button-outline'" ng-click="changeBox('invite');sendInvitation()">
                        <div><i class="icon "></i></div>
                        <div>邀請</div>
                    </button>
                </div>
                <div class="col">
                    <button class="button button-small button-dark" ng-class="selectBox('export')?'':'button-outline'" ng-click="changeBox('export');addcontact();">
                        <div><i class="icon"></i></div>
                        <div>匯出</div>
                    </button>
                </div>
            </div>
        </div>
        <div ng-show="selectBox('bulletin')">
            <div align="center">
                <button class="button button-dark button-small" ng-class="openInsert?'':'button-outline'" ng-click="showInset()">新增公告</button>
                <div ng-show="openInsert" class="" style="margin-top:10px;margin-bottom:10px;">
                    <label class="item-input text">
                        <textarea placeholder="公告內容" class="textArea" ng-model="msg.pubsub" rows="5" Wrap="Hard" autofocus ></textarea>
                    </label>
                    <button class="button button-small button-stable" ng-click="pubsub()">發布</button>
                </div>
            </div>
            <ion-scroll direction="y" class="" style="margin-top:10px;height:480px;" delegate-handle="BulletinScroll">
                <div class="card" style="padding:15px;" ng-repeat="messages in messageList | toArray |filter:{type:3} | orderBy : '-stamp | dateSorting'  ">
                    <p>
                        <span style="float:left;left:0px;">{{getName(messages.occupant)}}</span>
                        <span style="float:right;right:0px;font-size:10px;">{{messages.stamp  | dateFormat}}</span>
                    </p>
                    <div style="white-space:pre-wrap;margin-top:25px;">{{messages.message}}</div>
                </div>
            </ion-scroll>
        </div>
        
         <div class="card" ng-hide="selectBox('bulletin')">
            <div ng-show="selectBox('chat')">
                <ion-scroll direction="y" class="chat chat-small" delegate-handle="ChatScroll">
                    <div ng-repeat="messages in messageList | toArray |filter:{type:0} | orderBy : 'stamp | dateSorting' track by $index ">
                        <span ng-show="messages.state==3" style="font-size:10px;">{{getName(messages.occupant)}}</span>
                        <div ng-class="messages.state==3?'message-them': 'message-me'">
                            <span style="font-size:12px;" am-time-ago="message.date" ng-hide="messages.state==3">{{messages.stamp  | dateFormat}}</span>
                            <blockquote>
                                <span style="white-space:pre-wrap;float:left;">{{messages.message}}</span>
                            </blockquote>
                            <span style="font-size:12px;" am-time-ago="message.date" ng-show="messages.state==3">{{messages.stamp  | dateFormat}}</span>
                        </div>
                    </div>
                </ion-scroll>
                <div style="border-top:1px solid #999999; padding-top:5px;">
                    <label class="item-input text" style="width:85%;float:left;">
                        <textarea placeholder="輸入訊息" ng-model="msg.message" rows="1" Wrap="Hard" id="messageInput" ></textarea>
                    </label>
                    <button class="button button-small" style="float:right;" ng-click="snedMessage()">傳送</button>
                </div>
            </div>
        </div>
        <!--
        <div class="item">
            <pre ng-bind="messageList | json"></pre>
        </div>
        -->
    </ion-content>
</ion-view>