<ion-view title="組織列表" cache-view="false" >
    
    <ion-content has-header="true" has-subheader="true" has-tabs="true"  >

        <ion-list>
            <div ng-repeat="unit in organizations | toArray|filter:{parentId:null}:true  track by $index">
                <ion-item ng-class="{active:unit.open}"
                          ng-click="toggleGroup(unit)"
                          ng-show="showItem(unit)"
                          class="item item-icon-right item-group">
                    <i ng-class="unit.open ? 'ion-arrow-down-b' : 'ion-arrow-right-b'"></i>
                    {{unit.name}}
                </ion-item>
                <div ng-repeat="affair in organizations | toArray |filter:{parentId:unit.id}:true   track by $index ">
                    <ion-item ng-class="{active:affair.open}"
                              ng-click="toggleGroup(affair)"
                              ng-show="showItem(affair)"
                              class="item item-button-right item-group">
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <i ng-class="affair.open ? 'ion-arrow-down-b' : 'ion-arrow-right-b'"></i>
                        {{affair.name}}
                        <div class="buttons">
                            <button class="button button-clear button-dark" ng-if="affair.chat" ng-click="groupChat(affair,$event)">
                                <i class="icon ion-chatbubbles"></i>
                            </button>
                            <button class="button button-clear" ng-click="toggleClick(affair,$event)">
                                <i class="icon ion-ios-star" ng-class="affair.marked?'energized':'dark'"></i>
                            </button>
                        </div>
                    </ion-item>
                    <ion-item ng-repeat="dep in organizations | toArray |filter:{parentId:affair.id}:true   track by $index"
                              ng-click="href(dep)"
                              ng-show="showItem(dep)"
                              class="item item-button-right item-group">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <i class="ion-arrow-right-b"></i>
                        {{dep.name}}
                        <div class="buttons">
                            <button class="button button-clear button-dark" ng-if="dep.chat" ng-click="groupChat(dep,$event)">
                                <i class="icon ion-chatbubbles"></i>
                            </button>
                            <button class="button button-clear" ng-click="toggleClick(dep,$event)">
                                <i class="icon ion-ios-star" ng-class="dep.marked?'energized':'dark'"></i>
                            </button>
                        </div>
                    </ion-item>
                </div>
            </div>
        </ion-list>
        
        <!--
        <div class="item">
          <pre ng-bind="organizations | json"></pre> 
        </div>
        -->
    </ion-content>
</ion-view>





